@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c
@use 'sass:math'


$logo_m: 9.4%


.container

.wrapper
    display: flex
    align-items: center
    @include m.media(phone, tablet)
        padding-top: f.px(56) 
        padding-bottom: f.px(56) 
    @include m.media(laptop, desktop)
        padding-top: f.px(20) 
        padding-bottom: f.px(20) 

.iconLogo
    margin-right: $logo_m

.logos 
    display: flex
    align-items: center
    flex-basis: math.div(36%, 1)
    @include m.media(phone, tablet)
        display: none

.iconGMDE
    margin-left: math.div($logo_m * 2, 1)
   
.contact
    margin-left: auto
    @include m.media(phone, tablet)
        display: none 

.icon
    width: f.px(36)
    margin-left: auto
    cursor: pointer
    @include m.media(laptop, desktop)
        display: none
      