@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c
@use 'sass:math'

.wrapper
  display: flex
  align-items: center
  @include m.media(phone, tablet)
    padding-top: f.px(56)
    padding-bottom: f.px(56)
  @include m.media(laptop, desktop)
    padding-top: f.px(20)
    padding-bottom: f.px(20)

.partnersLogos 
  display: flex
  align-items: center
  flex-basis: 36%
  margin-left: 11.4%
  @include m.media(phone, tablet)
    display: none

.logoGMDE
  margin-left: 21.8%

.contact
  margin-left: auto
  @include m.media(phone, tablet)
    display: none

.btnHamburger
  min-width: f.px(36)
  margin-left: auto
  @include m.media(laptop, desktop)
    display: none
      