@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c


.container 
    display: flex
    @include m.media(phone, tablet)
        flex-direction: column
    @include m.media(laptop, desktop)
        flex-direction: column
        align-items: flex-end

.link 
    margin-bottom: f.px(8)
    font-weight: 500
    @include m.dye(c, c.$upsilon)
    &.sizeM
        font-size: f.px(18)
    &.sizeXL
        font-size: f.px(25)

.lable
    font-size: f.px(13)
    font-weight: 600
    @include m.dye(c, c.$alpha)

    

