@use 'sass:math'
@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/Colors.module.sass' as c

.container
  position: relative
  @include m.dye(bg, c.$beta)

.img
  position: absolute
  z-index: 0
  @include m.media(phone, tablet)
    top: f.px(40)
    left: f.px(0)
    min-width: f.px(930)
    max-width: f.px(930)
  @include m.media(laptop, desktop)
    top: f.px(-110)
    min-width: f.px(1083)
    max-width: f.px(1083)
  @include m.media(laptop)
    left: f.px(360)
  @include m.media(desktop)
    left: f.px(560)

.abovetitle
  position: relative
  z-index: 2
  margin: 0
  font-family: SONGERSemiExpanded
  @include m.media(phone, tablet)
    margin-bottom: f.px(24)
    font-size: f.px(24)
  @include m.media(laptop, desktop)
    margin-bottom: f.px(32)
    font-size: f.px(36)
  font-weight: 500
  line-height: 120%
  text-transform: uppercase
  @include m.dye(c, c.$alpha)

.title
  position: relative
  z-index: 2
  margin: 0
  font-family: SONGERSemiExpanded
  @include m.media(phone)
    font-size: f.px(28)
  @include m.media(tablet)
    font-size: f.px(33)
  @include m.media(laptop, desktop)
    max-width: 18ch
    font-size: f.px(64)
  font-weight: 800
  line-height: 120%
  text-transform: uppercase
  @include m.dye(c, c.$psi)
  &.defaultProgramTitle
    @include m.media(phone)
      font-size: f.px(28)
    @include m.media(tablet)
      font-size: f.px(42)
    @include m.media(laptop, desktop)
      font-size: f.px(52)

.subtitle
  margin: 0
  position: relative
  z-index: 2
  @include m.media(phone, tablet)
    margin-top: f.px(192)
    font-size: f.px(20)
    line-height: 120%
  @include m.media(laptop, desktop)
    max-width: 48ch
    margin-top: f.px(64)
    font-size: f.px(24)
    line-height: 130%
  font-weight: 500
  @include m.dye(c, rgba(c.$psi, .5))

.form
  position: relative
  z-index: 2
  @include m.media(phone, tablet)
    margin-top: f.px(40)
  @include m.media(laptop, desktop)
    margin-top: f.px(48)

.testimonials
  position: relative
  z-index: 2
  margin: 0
  margin-top: f.px(80)
  // @include m.media(phone, tablet)
  // @include m.media(laptop, desktop)
  padding: 0
  display: flex
  flex-wrap: wrap

$gap: 2.6%
.testimonialItem
  display: flex
  @include m.media(phone, tablet)
    flex-basis: 100%
    & + .testimonialItem
      margin-top: f.px(40)
  @include m.media(laptop)
    flex-basis: math.div((100% - $gap * 1), 2)
    &:nth-child(n+3)
      margin-top: f.px(32)
    &:nth-child(odd)
      margin-right: $gap
  @include m.media(desktop)
    flex-basis: math.div((100% - $gap * 3), 4)
    margin-right: $gap
    &:nth-child(4)
      margin-right: 0
  padding: 1px
  border-radius: f.px(24)
  background: linear-gradient(225.49deg, c.$upsilon 35.06%, c.$alpha 100%)

.testimonial
  position: relative
  z-index: 2
  display: flex
  flex-direction: column
  flex-grow: 1
  padding: f.px(32)
  border-radius: inherit
  @include m.dye(bg, c.$beta)
  // @include m.dye(bg, c.$phi)
  &::before
    content: ''
    position: absolute
    z-index: -1
    top: 0
    right: 0
    bottom: 0
    left: 0
    border-radius: inherit
    background: linear-gradient(49.79deg, c.$alpha -12.01%, rgba(c.$phi, .32) 72.14%)

.decoration
  margin-bottom: f.px(16)

.testimonialTitle
  margin: 0
  font-family: SONGERSemiExpanded
  font-size: f.px(36)
  font-weight: 500
  line-height: 120%
  text-transform: uppercase
  @include m.dye(c, c.$psi)

.testimonialContent
  margin-top: f.px(16)
  margin-bottom: 0
  @include m.dye(c, rgba(c.$psi, .5))
